
body {
    padding-top: 90px;
    background: #383838;
    color: #fff;
    font-family: "Noto Sans";
    font-size: 15px;
}



/*******************************************************************************
 *
 * Fonts
 *
 ******************************************************************************/

h1,
h2,
h3,
h4,
h5,
.btn,
form legend,
form label,
.i__font_main {
    font-family: 'blue_highway_d_typeregular';
}
h1 span,
h2 span {
    font-size: 21px;
    vertical-align: baseline;
}


/*******************************************************************************
 *
 * Navbar
 *
 ******************************************************************************/

.navbar-main {
    height: 109px;
    background: url('../img/bg-navbar.png') left top;
    border: none;
}

.navbar-main__menu {
    margin-top: 30px;
}
.navbar-main__menu-link {
    font-size: 18px;
}
/*.navbar-main__menu-list .active {*/
    /*background: none;*/
/*}*/

@media (max-width: 767px) {

	.navbar-collapse {
		margin-top: 0;
	}
	.navbar li a {
		background-color: black;
	}
	.navbar li a:focus {
		background-color: black !important;
	}
}



/*******************************************************************************
 *
 * Logo
 *
 ******************************************************************************/

.logo {
    margin-top: 30px;
}
.logo__link {
    background: url('../img/rexmundi-logo.png') no-repeat left center;
    width: 100px;
    height: 70px;
    text-indent: -10000px;
}





/*******************************************************************************
 *
 * Visual
 *
 ******************************************************************************/

#section-visual {
    background:
		url('../img/rexmundi-visual-2.jpg')
		no-repeat center center fixed;
    height: 800px;
    margin: 0;
    border-radius: 0;
	/*position: fixed;*/
	left: 0;
}


/*******************************************************************************
 *
 * Contact
 *
 ******************************************************************************/

.contact {
    background: url('../img/rexmundi-tunnel-2.jpg') no-repeat center fixed;
    padding: 200px 0 30px;
}
.contact__title-pre {
    color: #fff;
    font-size: 20px;
    margin: 0;
}
.contact__title {
    color: #fff;
    font-size: 60px;
    margin: 0 0 20px;
}

.contact__label {
    font-size: 20px;
}
.contact__email,    
.contact__name,
.contact__message {    
    border: none;
    border-radius: 0;
    background: rgba(255,255,255,0.7);
    font-size: 18px;
    height: 45px;
    padding: 10px;
}
.contact .contact__message {
    height: 150px;
}

.contact__button {
    background: #99150d;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 25px;
}


#section-bio,
#section-listen,
#section-buy,
#section-connect {
	min-height: 400px;
	padding-top: 100px;
}





/*******************************************************************************
 *
 * Tweets
 *
 ******************************************************************************/

.tweet {
	margin-bottom: 20px;
}
.tweet__name {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}
.tweet__ago {
	font-size: 13px;
}

